body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #white;
  font-size: 60px;
  font-family: system-ui;
  letter-spacing: 7px;
}