body {
 font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, rgb(111, 232, 119) , rgb(22, 2, 85));
  color: rgb(255, 255, 255);
  text-align: center;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #white;
  font-size: 60px;
  font-family: system-ui;
  letter-spacing: 7px;
}


